body {
  background-color: #383838;
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  pointer-events: none;
}
.leftside {
  flex: 1;
  font-family: cursive;
  display: flex;
  justify-content: center;
}
.logo {
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-cont-wrapper {
  margin: 0;
}
.left-cont-wrapper > h2 {
  color: white;
  text-align: center;
  font-size: 100pt;
  margin: 0;
}
.left-cont-wrapper > p {
  color: white;
  text-align: center;
  margin: 0;
}
.rightside {
  flex: 1;
}
.right-cont-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right-cont-wrapper > h1 {
  margin-bottom: 0;
}
.right-cont-wrapper > button {
  height: 38px;
  cursor: pointer;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.right-cont-wrapper > h3 {
  margin-top: 80px;
}

.registration-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(1, 1, 1);
  width: 600px;
  height: 80%;
  border-radius: 10px;
}
.register-wrapper {
  height: 100%;
}
.register-wrapper > h2 {
  color: white;
  margin-left: 20px;
}
#closeNewNote {
  background-color: black;
  color: white;
  font-size: x-large;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
#closeNewNote:hover {
  background-color: rgb(46, 46, 46);
}
.register-wrapper > form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.register-wrapper > form > label {
  color: white;
  margin: 10px 0px 10px 20px;
}
.reg-inp {
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  background-color: black;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
  font-size: x-large;
  padding-left: 5px;
}
.reg-inp:focus {
  border: 2px solid blue;
  outline: none;
}
span {
  color: white;
  margin-left: 20px;
}
.reg-submit {
  margin-top: 5%;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}
.flash-message {
  color: white;
  margin-left: 27px;
  margin-top: 30px;
}
