body {
  background-color: rgb(11, 11, 11);
  margin: 0;
}
.container {
  display: flex;
}
.sidebar {
  flex: 3;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
}
.log-but {
  background: none;
  border: none;
  text-align: -webkit-center;
  height: 70px;
  width: 70px;
  border-radius: 200px;
  cursor: pointer;
  align-content: center;
  align-self: center;
  margin-bottom: 30px;
}
.sidebar-btn {
  font-family: cursive;
  width: 70%;
  align-self: center;
  text-align: center;
  height: 50px;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: larger;
  border: 0;
}
.sidebar-btn > i {
  font-size: larger;
  margin-right: 10px;
}
.sidebar-btn:hover {
  background: #333333;
}
.sidebar-post-btn {
  width: 30%;
  align-self: center;
  text-align: center;
  height: 50px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  color: white;
  font-family: cursive;
  font-size: x-large;
  border: 0;
  /* margin-top: auto;
      margin-bottom: 20px; */
}

.logo {
  align-self: center;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}
.logo:hover {
  background: #383838;
}
.logo > h2 {
  color: white;
  text-align: center;
  font-size: 10pt;
  margin: 0;
}
.logo > p {
  color: white;
  text-align: center;
  font-size: 3pt;
  margin: 0;
}
.tweets-wrapper {
  flex: 4;
  width: 100%;
  border-left: 1px solid rgb(102, 102, 102);
  border-right: 1px solid rgb(102, 102, 102);
}
.right-sidebar {
  flex: 4;
}
.profile {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.profile > img {
  width: 50px;
  height: 48px;
  border-radius: 50px;
  margin-left: 20px;
}

.email_username {
  display: flex;
  flex-direction: column;
}
.email_username > p {
  margin: 0;
  margin-left: 10px;
  text-align: center;
  align-self: center;
}
.email_username > p:last-child {
  font-size: 8pt;
  margin: 0;
  padding: 0;
  color: #727272;
}
.dots {
  align-self: center;
}

/* Main Content */

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(102, 102, 102);
  position: sticky;
  top: 0;
  background-color: rgba(11, 11, 11, 0.9);
  z-index: 999;
}
.header > p {
  padding-left: 20px;
  font-family: cursive;
  color: white;
  margin: 0;
  margin-top: 10px;
}
.header-down {
  display: flex;
}
.foryou-btn,
.yourposts-btn {
  font-family: cursive;
  flex: 1;
  background: 0;
  border: none;
  color: rgb(189, 189, 189);
  height: 60px;
  cursor: pointer;
}
.selected {
  color: white;
  font-size: large;
  font-weight: 800;
}
.selected > span {
  border-bottom: 5px solid blue;
  padding-bottom: 11px;
}
.foryou-btn:hover,
.yourposts-btn:hover {
  background: #383838;
}

.post-wrapper {
  display: flex;
}
.profile-pic {
  margin-right: 10px;
}
.profile-pic > img {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 20px;
}
.post-input-wrapper {
  margin-top: 10px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.post-input-wrapper > form {
  width: 100%;
}
.post {
  width: 100%;
}
.post > textarea {
  resize: none;
  width: 100%;
  margin: 0;
  padding: 5px 5px 5px 5px;
  height: 80px;
  background-color: inherit;
  border: none;
  font-size: xx-large;
  color: #a0a0a0;
  border-bottom: 1px solid rgb(102, 102, 102);
  font-family: cursive;
}
.post > textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(102, 102, 102);
}
.attach-post-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}
.left-btns > input[type="file"] {
  display: none !important;
}
.left-btns > label > i {
  color: rgb(53, 141, 255);
  cursor: pointer;
}
.post-submit {
  height: 35px;
  border: none;
  border-radius: 10px;
  width: 80px;
  background-color: rgb(53, 141, 255);
  color: white;
  font-family: cursive;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 15px;
}
.post-submit:hover {
  background: #29aaff;
}
.post-submit:disabled {
  height: 35px;
  cursor: default;
  border: none;
  border-radius: 10px;
  width: 80px;
  background-color: rgb(22, 46, 77);
  color: white;
  font-family: cursive;
  font-weight: 700;
}
.tweet-card {
  position: relative;
  display: flex;
  border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(102, 102, 102);
}
.main-content {
  width: 100%;
}
.tweet-header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tweet-header-left > a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.tweet-header-left > span {
  color: rgb(114, 114, 114);
}
.main-content > p {
  color: white;
  overflow-wrap: break-word;
  max-width: 560px;
  font-family: cursive;
}
.content-img {
  min-width: 400px;
  max-width: 550px;
  border-radius: 10px;
  margin-right: 20px;
}
.tweet-header-right {
  margin-right: 10px;
}
.tweet-header-right > button {
  background: none;
  color: #727272;
  font-size: x-large;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 0;
}
.tweet-header-right > button:hover {
  color: #a0a0a0;
  background-color: #252525;
}
.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
}
.tweet-footer > button {
  background: none;
  border: none;
  color: #727272;
  font-size: larger;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.tweet-footer > button:hover {
  color: #29aaff;
  background-color: #161616;
}
.tweet-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 40px;
  width: 130px;
  background-color: rgba(11, 11, 11, 0.9);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tweet-menu > form > button {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-family: cursive;
  font-size: larger;
  justify-content: space-evenly;
}

.tweet-menu > form > button:hover {
  background-color: #3b3b3b;
}

.tweet-menu > button {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-family: cursive;
  font-size: larger;
  justify-content: space-evenly;
}

.tweet-menu > button:hover {
  background-color: #3b3b3b;
}
.sidebar-menu {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 40px;
  transform: translate(-50%);
  width: 130px;
  background-color: rgba(11, 11, 11, 0.9);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar-menu > button {
  display: flex;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-family: cursive;
  font-size: larger;
  justify-content: space-evenly;
}
.sidebar-menu > button:hover {
  background-color: #3b3b3b;
}
#removeImageButton {
  background: none;
  background-color: #191919;
  color: white;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 30px;
  font-family: cursive;
}
#removeImageButton:hover {
  background-color: #3b3b3b;
}
