body {
  background-color: rgb(61, 60, 60);
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  pointer-events: none;
}
.leftside {
  flex: 1;
  font-family: cursive;
  display: flex;
  justify-content: center;
}
.logo {
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-cont-wrapper {
  margin: 0;
}
.left-cont-wrapper > h2 {
  color: white;
  text-align: center;
  font-size: 100pt;
  margin: 0;
}
.left-cont-wrapper > p {
  color: white;
  text-align: center;
  margin: 0;
}
.rightside {
  flex: 1;
}
.right-cont-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right-cont-wrapper > h1 {
  margin-bottom: 0;
}
.right-cont-wrapper > button {
  height: 38px;
  cursor: pointer;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.right-cont-wrapper > h3 {
  margin-top: 80px;
}

.registration-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(1, 1, 1);
  width: 600px;
  height: 80%;
  border-radius: 10px;
  overflow: overlay;
}

.register-wrapper > h2 {
  color: white;
  margin-left: 20px;
}
#closeNewNote {
  background-color: black;
  color: white;
  font-size: x-large;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
#closeNewNote:hover {
  background-color: rgb(46, 46, 46);
}
.register-wrapper > form {
  display: flex;
  flex-direction: column;
}
.register-wrapper > form > label {
  color: white;
  margin: 10px 0px 10px 20px;
}
.reg-inp {
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  background-color: black;
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
  font-size: x-large;
  padding-left: 5px;
}
.reg-inp:focus {
  border: 2px solid blue;
  outline: none;
}
span {
  color: white;
  margin-left: 20px;
}
.reg-submit {
  margin-top: 5%;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}
.profile-pic-wrapper {
  /* height: 100vh; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pic-holder .pic {
  height: 140%;
  /* width: 100%; */
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* Snackbar css */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
