<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'style/home.css')}}"
    />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="leftside">
        <div class="logo">
          <div class="left-cont-wrapper">
            <h2>GE</h2>
            <p>Wanna Have Fun?</p>
          </div>
        </div>
      </div>
      <div class="rightside">
        <div class="right-cont-wrapper">
          <h1>Relax! Enjoy Life!</h1>
          <h3>Join today</h3>
          <button>Sign Up with Google</button>
          <button>Sign Up with Facebook</button>
          <button onclick="location.assign('/register')">Create account</button>

          <p>Already have an account?</p>
          <button onclick="location.assign('/login')">Sign in</button>
        </div>
      </div>
    </div>
  </body>
</html>
